<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1> <%= @list.tittle %> </h1>
  <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Tittle</th>
            <th>Completed</th>
            <th colspan="3"></th>
          </tr>
        </thead>
          <tbody>
            <%= @list.tasks.each do |task| %>
          <tr>
            <td> <%= task.tittle.titleize() %></td>
            <td> <%= task.description.capitalize() %></td>
          </tr>
          <% end %>
          </tbody>
      </table>
</body>
</html>